
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    
    <!-- Modal -->
    <div class="modal" *ngIf="modalAbierto">
        <div class="modal-contenido">
            <div class="modal-header">
                <h2>Detalles de las Plagas de {{this.riegoSeleccionado.nombre}}</h2>
                <button class="cerrar-boton" (click)="cerrarModalDesdeDentro()">✖</button>
            </div>
            <form (ngSubmit)="enviarDatos(f)" #f="ngForm">
                <div class="modal-body">
                    <div class="metodo">
                        <p><strong>Tipo de plaga:</strong></p>
                        <select [(ngModel)]="tipoplaga" name="tipoplaga" required class="menu-metodo">
                            <option value="" disabled selected hidden>Elige una opción</option>
                            <option value="mosca">Mosca del olivo</option>
                            <option value="polilla">Polilla del olivo</option>
                            <option value="cochinilla">Cochinilla del olivo</option>
                        </select>
                    </div>
            
                    <div class="metodo">
                        <p><strong>Grado de afectación:</strong></p>
                        <select [(ngModel)]="gradoafectacion" name="gradoafectacion" required class="menu-metodo">
                            <option value="" disabled selected hidden>Elige una opción</option>
                            <option value="leve">Leve</option>
                            <option value="media">Media</option>
                            <option value="severa">Severa</option>
                        </select>
                    </div>
                    <div class="cantidad">
                        <p><strong>Olivas afectadas: </strong></p>
                        <input id="olivas" [(ngModel)]="olivas" type="number" name="olivas" placeholder="Introduce las olivas afectadas" required>
                    </div>

                    <div class="cantidad">
                        <p><strong>Tratamiento aplicado: </strong></p>
                        <input id="tratamiento" [(ngModel)]="tratamiento" type="text" name="tratamiento" placeholder="Introduce el tratamiento aplicado" required />
                    </div>
            
                    <div class="fecha">
                        <p><strong>Fecha: </strong></p>
                        <input type="date" [(ngModel)]="fechaSeleccionada" name="fechaSeleccionada"
                                max="{{ fechaActual }}" class="input-fecha" required />
                    </div>
                </div>
            
                <button type="submit" [disabled]="!f.valid" class="btn-enviar">Enviar</button>
            </form>
            
            <div class="historial-modal" *ngIf="historialVisible.length > 0">
                <h3>Historial de Plagas</h3>
            
                <div class="menu-anios">
                    <label for="seleccionar-anio">Seleccionar Año:</label>
                    <select id="seleccionar-anio" [(ngModel)]="anioSeleccionado" (change)="cargarHistorialAnio()">
                        <option value="" disabled selected>Elige un año</option>
                        <option *ngFor="let anio of historialAnios" [value]="anio">{{ anio }}</option>
                    </select>
                </div>
            
                <div *ngIf="anioSeleccionado && historialPorAnio[anioSeleccionado]" class="historial-container">
                    <div class="content">
                        <div class="tabla">
                            <h4>Historial del Año {{ anioSeleccionado }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Número de olivas afectadas</th>
                                        <th>Tipo plaga</th>
                                        <th>Grado de afectación</th>
                                        <th>Tratamiento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let plaga of historialPorAnio[anioSeleccionado]">
                                        <td>{{ formatearFecha(plaga.fecha) }}</td>
                                        <td>{{ plaga.olivas }}</td>
                                        <td>{{ plaga.metodo }}</td>
                                        <td>{{ plaga.afectacion }}</td>
                                        <td>{{ plaga.tratamiento }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Resumen del año seleccionado -->
                        <div *ngIf="resumenHistorialExpandido[anioSeleccionado]" class="resumen">
                            <h4>Resumen del Año {{ anioSeleccionado }}</h4>
                            <ul>
                                <li><strong>Número de olivas con mosca:</strong> {{ resumenHistorialExpandido[anioSeleccionado].mosca }}</li>
                                <li><strong>Número de olivas con polilla:</strong> {{ resumenHistorialExpandido[anioSeleccionado].polilla }}</li>
                                <li><strong>Número de olivas con cochinilla:</strong> {{ resumenHistorialExpandido[anioSeleccionado].cochinilla }}</li>
                                <li><strong>Número de olivas afectadas totales:</strong> {{ resumenHistorialExpandido[anioSeleccionado].total }}</li>
                                <li><strong>Número de olivas recuperadas:</strong> {{ resumenHistorialExpandido[anioSeleccionado].salvadas }} </li>
                                <li><strong>Número de olivas perdidas:</strong> {{ resumenHistorialExpandido[anioSeleccionado].severa }} </li>

                            </ul>
                        </div>
                    </div>
                    <button *ngIf="anioSeleccionado" class="btn-hst" (click)="ocultarHistorial()">Ocultar Historial</button>
                </div>
            </div>            
        </div>
    </div>

</body>
