
.contenedor-carrusel {
    margin-top: 5rem;
    overflow: hidden; 
    width: 70rem;
    height: 850px;
}
.cuerpo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    min-height: 100vh; 
    gap: 3rem;
    overflow-x: hidden;
    background-image: url('/image.png');
    background-size: cover; 
    background-position:center;
}
.panel-lateral {
    position: fixed;
    width: 0;
    right: 0;
    height: 100%;
    min-height: 100vh; 
    overflow: hidden;
    background-color: #A4B465;
    transition: width 0.4s ease;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.panel-lateral.abierto {
    width: 25rem;
}

.panel-lateral h3 {
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    text-align:center ;
    margin-top: 3rem;
}

/* Cuando el panel lateral está abierto */
.carrusel-desplazado {
    transform: translateX(-14rem);
    transition: transform 0.4s ease;
    margin: auto;
    z-index: 1000;
}


.item-menu {
    background-color: transparent;
    color: white;
    font-size: 1.6rem;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid #ffffff50;
    text-align: left;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

.item-menu:hover {
    color: black;
    transform: scale(1.05);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* fondo oscuro */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Por encima de todo */
}



.cerrar-icono {
    position: absolute;
    right: 0.5rem;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 10;
    transition: color 0.3s ease;
}

.cerrar-icono:hover {
    color: black;
}
.fichas {
    display: flex;
    transition: transform 1s ease-in-out; 
    transform-style: preserve-3d;
}
.ficha{
    width: 70rem;
    min-height: 650px;
    padding: 2rem;
    background-color: #A4B465;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    backface-visibility: hidden;
}

.nombre{
    height: 5rem;
    width: 60rem;
    background-color: aliceblue;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.25rem;
    font-size: 3rem;
}
.info{
    width: 60%;
    height: 400px;
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagen {
    margin: 2rem;
    width: 60rem;
    height: 30rem;
    background-image: url('/eli.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: 70%;
    border: 2px solid #000;
    border-radius: 1.25rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nombre, .bd, .casillas, .boton{
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
.pares{
    height: 3.5rem;
    width: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
    border-radius: 1.25rem;
    gap: 1rem;
}
.casillas {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
}
.boton-alineado{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.bd {
    font-size: 1.6rem;
    color: #000000;
}

.boton{
    background-color: #d4af37;
    width: 35%;
    height: 3.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
    margin:auto;
    margin-left: 2rem;
    margin-right: 2rem;
    transition: all 0.3s ease;
}
.boton:hover{
    transform: scale(1.05);
    background-color: #e9c050;
}
.boton-navegacion {
    background-color: transparent;
    color: rgb(0, 0, 0);
    border: none;
    font-size: 6.5rem;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem;
    transition: background-color 0.3s ease;
}

.boton-navegacion:hover {
    transform: scale(1.3);
}
/*PANEL LATERAL*/
/* ABONADO */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-contenido {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    border-radius: 1.25rem;
    padding: 2rem;
    width: 50rem;
    height: 45rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.cerrar-modal {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
    position: absolute;
    top: 10px; 
    right: 20px;
}

.cerrar-modal:hover {
    color: red;
}

.modal-body {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
.metodo strong{
    font-size: 1.3rem;
}
.metodo p{
    margin: 0;
}
.metodo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.menu-metodo {
    width: 40%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
} 
.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.cantidad strong{
    font-size: 1.3rem;
}
.cantidad p{
    margin: 0;
}
.cantidad input{
    padding-left: 0.3rem;
    width: 17rem;
}
.input-fecha {
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    max-width: 250px;
}
.fecha{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.fecha strong{
    font-size: 1.3rem;
}
.fecha p{
    margin: 0;
}
.btn-enviar{
    background-color: #FFCF50;
    width: 40%;
    height: 2.5rem;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    border: none;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.btn-enviar:hover{
    transform: scale(1.05);
}

.historial-modal {
    background-color: #ffffff;
    height: auto;
    min-width: 70%;
    max-width: 600px;
    padding: 20px 30px; 
    border-radius: 8px;
    margin-bottom: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.historial-modal h3 {
    color: #2c3e50;
    margin-bottom: 10px;
}
.menu-anios {
    margin-bottom: 15px;
    text-align: center;
}

.menu-anios label {
    font-weight: bold;
    margin-right: 10px;
}

.menu-anios select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.tabla{
    width: 55%;
}
.resumen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background: #fafafa;
    border-radius: 5px;
    overflow: hidden;
}
thead {
    background: #007bff;
    color: white;
}
th, td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tbody {
    display: block;
    text-align: center;
    max-height: 120px; 
    overflow-y: auto;
    width: 100%;
}
thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
th {
    background-color: #3498db;
    color: white;
    width: 9rem;
}
h3, h4 {
    text-align: center;
    color: #333;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
    font-size: 14px;
}
select:focus {
    outline: none;
    border-color: #007bff;
}
.resumen-historial {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.resumen-historial h3 {
    margin-bottom: 10px;
}

.resumen-historial ul {
    list-style: none;
}

.resumen-historial li {
    font-size: 16px;
    margin: 5px 0;
}
.historial-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    max-width: 1100px; 
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1050;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80rem;
}
.btn-hst {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #FFCF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    font-weight: bold;
}
.btn-hst:hover {
    transform: scale(1.05);
}
