/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #222222;
  }
  
  .perfil-container {
    max-width: 100vw;
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #ffffff;
    box-sizing: border-box;
  }

  .password-container {
    display: flex;
    align-items: center;
  }
  
  .password-container input {
    flex: 1;
  }
  
  .eye-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 5px;
  }
  

  .success {
    color: green;
    font-weight: bold;
  }
  
  .error {
    color: red;
    font-weight: bold;
  }
  
  
  /* Título */
  .titulo {
    font-size: 2.5rem;
    color: #556b2f; /* verde aceituna */
    border-bottom: 2px solid #d4af37; /* amarillo oliva */
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }
  
  /* Bloques de información */
  .informacion {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fafafa;
  }
  
  /* Etiquetas */
  .t-info {
    font-weight: bold;
    width: auto;
  }
  
  /* Datos */
  .tbd-info {
    flex-grow: 1;
  }
  
  /* Botones */
  .edit-button,
  .save-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
  }
  
  .edit-button {
    background-color: rgba(98, 111, 71, 1);
    color: #ffffff;
  }
  
  .edit-button:hover {
    background-color: #A4B465;
  }
  
  .save-button {
    background-color: #d4af37;
    color: #ffffff;
  }
  
  .save-button:hover {
    background-color: #c19d2c;
  }
  
  /* Inputs */
  .edit-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background-color: #fcfcfc;
  }
  
  .edit-input input {
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  label {
    font-weight: bold;
    color: #333333;
  }
  
  /* Mensaje de error */
  .error-message {
    color: #c0392b;
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  