<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="perfil-container">
        <h1 class="titulo">Perfil</h1>

        <!-- Nombre -->
        <div class="informacion">
            <div class="t-info">Nombre:</div>
            <div class="tbd-info">{{ perfil.username }}</div>
            <button class="edit-button" (click)="editNombre = !editNombre">Editar</button>
        </div>
        <div *ngIf="editNombre" class="edit-input">
            <label>Nuevo nombre:</label>
            <input [(ngModel)]="nuevoNombre" placeholder="Nuevo nombre" />
            <button class="save-button" (click)="guardarCampo('username', nuevoNombre)">Guardar</button>
            <p [ngClass]="{ 'success': mensajeNombre === 'Nombre de usuario modificado con éxito.' , 'error': mensajeNombre !== 'Nombre de usuario modificado con éxito.' }">{{ mensajeNombre }}</p>
        </div>

        <!-- Email -->
        <div class="informacion">
            <div class="t-info">Email:</div>
            <div class="tbd-info">{{ perfil.email }}</div>
            <button class="edit-button" (click)="editEmail = !editEmail">Editar</button>
        </div>
        <div *ngIf="editEmail" class="edit-input">
            <label>Nuevo email:</label>
            <input [(ngModel)]="nuevoEmail" placeholder="Nuevo email" />

            <label>Repetir nuevo email:</label>
            <input [(ngModel)]="repetirEmail" placeholder="Repetir nuevo email" />

            <button class="save-button" (click)="guardarCampo('email', nuevoEmail)">Guardar</button>
            <p [ngClass]="{ 'success': mensajeEmail === 'Email modificado con éxito.', 'error': mensajeEmail !== 'Email modificado con éxito.' }">{{ mensajeEmail }}</p>
        </div>

        <div class="informacion">
            <div class="t-info">Número de socio:</div>
            <div class="tbd-info">{{ perfil.member }}</div>
        </div>

        <!-- Contraseña -->
        <div class="edit-input">
            <label>Contraseña actual:</label>
            <div class="password-container">
                <input [type]="mostrarPasswordActual ? 'text' : 'password'" [(ngModel)]="passwordActual" placeholder="Contraseña actual" />
                <button type="button" class="eye-button" (click)="mostrarPasswordActual = !mostrarPasswordActual">
                    {{ mostrarPasswordActual ? '👁️' : ' 🚫' }}
                </button>
            </div>

            <label>Nueva contraseña:</label>
            <div class="password-container">
                <input [type]="mostrarPasswordNueva ? 'text' : 'password'" [(ngModel)]="passwordNueva" placeholder="Nueva contraseña" />
                <button type="button" class="eye-button" (click)="mostrarPasswordNueva = !mostrarPasswordNueva">
                    {{ mostrarPasswordNueva ? '👁️' : ' 🚫' }}
                </button>
            </div>

            <label>Confirmar nueva contraseña:</label>
            <div class="password-container">
                <input [type]="mostrarConfirmarPasswordNueva ? 'text' : 'password'" [(ngModel)]="confirmarPasswordNueva" placeholder="Confirmar nueva contraseña" />
                <button type="button" class="eye-button" (click)="mostrarConfirmarPasswordNueva = !mostrarConfirmarPasswordNueva">
                    {{ mostrarConfirmarPasswordNueva ? '👁️' : ' 🚫' }}
                </button>
            </div>

            <button class="save-button" (click)="cambiarContrasena()">Guardar</button>
            <p [ngClass]="{ 'success': mensajePassword === 'Contraseña cambiada con éxito.', 'error': mensajePassword !== 'Contraseña cambiada con éxito.' }">{{ mensajePassword }}</p>
        </div>
    </div>
</body>
