
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

    
    <!-- Modal -->
    <div class="modal" *ngIf="modalAbierto">
        <div class="modal-contenido">
            <div class="modal-header">
                <h2>Detalles de la Poda de {{this.riegoSeleccionado.nombre}}</h2>
                <button class="cerrar-boton" (click)="cerrarModalDesdeDentro()">✖</button>
    </div>
            <form (ngSubmit)="enviarDatos(f)" #f="ngForm">
                <div class="modal-body">
                    <div class="metodo">
                        <p><strong>Tipo de poda:</strong></p>
                        <select [(ngModel)]="tipopoda" name="tipopoda" required class="menu-metodo">
                            <option value="" disabled selected hidden>Elige una opción</option>
                            <option value="formacion">Formación</option>
                            <option value="produccion">Producción</option>
                            <option value="rejuvenecimiento">Rejuvenecimiento</option>
                        </select>
                    </div>

                    <div class="cantidad">
                        <p><strong>Olivas podadas: </strong></p>
                        <input id="olivas" [(ngModel)]="olivas" type="number" name="olivas" placeholder="Introduce las olivas podadas" required>
                    </div>
            
                    <div class="fecha">
                        <p><strong>Fecha: </strong></p>
                        <input type="date" [(ngModel)]="fechaSeleccionada" name="fechaSeleccionada"
                                max="{{ fechaActual }}" class="input-fecha" required />
                    </div>
                </div>
            
                <button type="submit" [disabled]="!f.valid" class="btn-enviar">Enviar</button>
            </form>
            
            <div class="historial-modal" *ngIf="historialVisible.length > 0">
                <h3>Historial de Poda</h3>
            
                <div class="menu-anios">
                    <label for="seleccionar-anio">Seleccionar Año:</label>
                    <select id="seleccionar-anio" [(ngModel)]="anioSeleccionado" (change)="cargarHistorialAnio()">
                        <option value="" disabled selected>Elige un año</option>
                        <option *ngFor="let anio of historialAnios" [value]="anio">{{ anio }}</option>
                    </select>
                </div>
            
                <div *ngIf="anioSeleccionado && historialPorAnio[anioSeleccionado]" class="historial-container">
                    <div class="content">
                        <div class="tabla">
                            <h4>Historial del Año {{ anioSeleccionado }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Número de olivas</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let poda of historialPorAnio[anioSeleccionado]">
                                        <td>{{ formatearFecha(poda.fecha) }}</td>
                                        <td>{{ poda.olivas }}</td>
                                        <td>{{ poda.metodo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Resumen del año seleccionado -->
                        <div *ngIf="resumenHistorialExpandido[anioSeleccionado]" class="resumen">
                            <h4>Resumen del Año {{ anioSeleccionado }}</h4>
                            <ul>
                                <li><strong>Poda de fomración:</strong> {{ resumenHistorialExpandido[anioSeleccionado].formacion }}</li>
                                <li><strong>Poda de producción:</strong> {{ resumenHistorialExpandido[anioSeleccionado].produccion }}</li>
                                <li><strong>Poda de rejuvenicimiento:</strong> {{ resumenHistorialExpandido[anioSeleccionado].rejuvenicimiento }}</li>
                                <li><strong>Número de olivas totales podadas:</strong> {{ resumenHistorialExpandido[anioSeleccionado].total }}</li>
                            </ul>
                        </div>
                    </div>
                    <button *ngIf="anioSeleccionado" class="btn-hst" (click)="ocultarHistorial()">Ocultar Historial</button>
                </div>
            </div>            
        </div>
    </div>

</body>
