
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="barra-superior">    
        <div class="logo-app"></div>
        <div class="menu1" *ngIf="usuarioAutenticado">
            <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
            <a routerLink="/riego" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Riego</a>
            <a routerLink="/abonado" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Abonado</a>
            <a routerLink="/fitosanitario" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Fitosanitarios</a>
        </div>
        <div class="foto-app"></div>
        <div class="menu2" *ngIf="usuarioAutenticado">
            <a routerLink="/recoleccion" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Recolección</a>
            <a routerLink="/mapa" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Mapa</a>
            <a routerLink="/poda" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Poda</a>
            <a routerLink="/plagas" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Plagas</a>
        </div>

        <!-- Mostrar nombre y botón de cerrar sesión si el usuario ha iniciado sesión -->
        <div class="usuario-info" *ngIf="usuarioAutenticado; else loginSection">
            <div class="usuario-avatar">
                <span class="inicial" *ngIf="usuarioAutenticado">{{ getInicial() }}</span>
            </div>
            
            <!-- Botón de menú desplegable -->
            <div class="dropdown">
                <button class="dropdown-toggle" (click)="toggleMenu($event)"></button>
    
                <!-- Menú desplegable -->
                <ul class="dropdown-menu" *ngIf="menuAbierto">
                    <li (click)="perfil()">Perfil</li>
                    <li (click)="cerrarSesion()">Cerrar sesión</li>
                </ul>
            </div>
        </div>
    
        <!-- Botón de login si no hay usuario autenticado -->
        <ng-template #loginSection>
            <button class="login" (click)="iniciarSesion()"></button>
        </ng-template>
    </div>
    
    <div class="cuerpo">
        <button (click)="anterior()" class="boton-navegacion">Anterior</button>
    
        <div class="contenedor-carrusel">
            <div class="fichas" [style.transform]="'rotateY(' + (-indiceActual * (360 / info.length)) + 'deg)'">
                <div class="ficha" *ngFor="let finca of info; let i = index"
                     [style.transform]="'rotateY(' + (i * (360 / info.length)) + 'deg) translateZ(40rem)'">
                    <div class="nombre">{{ finca.nombre }}</div>
                    <div class="info">
                        <div class="pares">
                            <div class="casillas">Superficie:</div>
                            <div class="bd">{{ finca.superficie }} hectáreas</div>
                        </div>
                        <div class="pares">
                            <div class="casillas">Numero de olivas:</div>
                            <div class="bd">{{ finca.olivos }}</div>
                        </div>
                        <div class="pares">
                            <div class="casillas">Última poda:</div>
                            <div class="bd">{{ finca.ultima_poda }}</div>
                        </div>
                    </div>
                    <button class="boton" (click)="abrirModalYVerHistorial(finca)" >Obtener Info</button>
                </div>
            </div>
        </div>
    
        <button (click)="siguiente()" class="boton-navegacion">Siguiente</button>
    </div>
    
    <!-- Modal -->
    <div class="modal" *ngIf="modalAbierto">
        <div class="modal-contenido">
            <div class="modal-header">
                <h2>Detalles de la Poda de {{this.riegoSeleccionado.nombre}}</h2>
                <button class="cerrar-modal" (click)="cerrarModalyHisotrial()">✖</button>
            </div>
            <form (ngSubmit)="enviarDatos(f)" #f="ngForm">
                <div class="modal-body">
                    <div class="metodo">
                        <p><strong>Tipo de poda:</strong></p>
                        <select [(ngModel)]="tipopoda" name="tipopoda" required class="menu-metodo">
                            <option value="" disabled selected hidden>Elige una opción</option>
                            <option value="formacion">Formación</option>
                            <option value="produccion">Producción</option>
                            <option value="rejuvenecimiento">Rejuvenecimiento</option>
                        </select>
                    </div>

                    <div class="cantidad">
                        <p><strong>Olivas podadas: </strong></p>
                        <input id="olivas" [(ngModel)]="olivas" type="number" name="olivas" placeholder="Introduce las olivas podadas" required>
                    </div>
            
                    <div class="fecha">
                        <p><strong>Fecha: </strong></p>
                        <input type="date" [(ngModel)]="fechaSeleccionada" name="fechaSeleccionada"
                                max="{{ fechaActual }}" class="input-fecha" required />
                    </div>
                </div>
            
                <button type="submit" [disabled]="!f.valid" class="btn-enviar">Enviar</button>
            </form>
            
            <div class="historial-modal" *ngIf="historialVisible.length > 0">
                <h3>Historial de Poda</h3>
            
                <div class="menu-anios">
                    <label for="seleccionar-anio">Seleccionar Año:</label>
                    <select id="seleccionar-anio" [(ngModel)]="anioSeleccionado" (change)="cargarHistorialAnio()">
                        <option value="" disabled selected>Elige un año</option>
                        <option *ngFor="let anio of historialAnios" [value]="anio">{{ anio }}</option>
                    </select>
                </div>
            
                <div *ngIf="anioSeleccionado && historialPorAnio[anioSeleccionado]" class="historial-container">
                    <div class="content">
                        <div class="tabla">
                            <h4>Historial del Año {{ anioSeleccionado }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Número de olivas</th>
                                        <th>Tipo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let poda of historialPorAnio[anioSeleccionado]">
                                        <td>{{ formatearFecha(poda.fecha) }}</td>
                                        <td>{{ poda.olivas }}</td>
                                        <td>{{ poda.metodo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Resumen del año seleccionado -->
                        <div *ngIf="resumenHistorialExpandido[anioSeleccionado]" class="resumen">
                            <h4>Resumen del Año {{ anioSeleccionado }}</h4>
                            <ul>
                                <li><strong>Poda de fomración:</strong> {{ resumenHistorialExpandido[anioSeleccionado].formacion }}</li>
                                <li><strong>Poda de producción:</strong> {{ resumenHistorialExpandido[anioSeleccionado].produccion }}</li>
                                <li><strong>Poda de rejuvenicimiento:</strong> {{ resumenHistorialExpandido[anioSeleccionado].rejuvenicimiento }}</li>
                                <li><strong>Número de olivas totales podadas:</strong> {{ resumenHistorialExpandido[anioSeleccionado].total }}</li>
                            </ul>
                        </div>
                    </div>
                    <button *ngIf="anioSeleccionado" class="btn-hst" (click)="ocultarHistorial()">Ocultar Historial</button>
                </div>
            </div>            
        </div>
    </div>


    <div class="pie">
        <div class="texto-pie">
            <div class="nombre-cooperativa">S.C.A. SANTO TOMÁS APOSTOL</div>
            <div class="direccion-cooperativa">
                Ctra. de Úbeda s/n<br> 
                23311 Santo Tomé (Jaén)
            </div>
            <div class="horario-cooperativa">
                Horario de atención al público:<br> 
                De lunes a viernes de 9 a 14h y de 16 a 19h<br> 
                Verano (21 Jun. – 21 Sep.) de 8 a 15h
            </div>
        </div>
        <div class="foto-pie"></div>
        <div class="info-pie">
            <div class="info-politica">INFORMACIÓN</div>
            <div class="cookies">Políticas de cookies (UE)</div>
            <div class="terminos">Términos y condiciones</div>
        </div>
    </div>
</body>
