
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    
    <!-- Modal -->
    <div class="modal" *ngIf="modalAbierto">
        <div class="modal-contenido">
            <div class="modal-header">
                <h2>Detalles del Riego de {{this.riegoSeleccionado.nombre}}</h2>
                <button class="cerrar-boton" (click)="cerrarModalDesdeDentro()">✖</button>
    </div>
            <form (ngSubmit)="enviarDatos(f)" #f="ngForm">
                <div class="modal-body">
                    <div class="metodo">
                        <p><strong>Método de riego:</strong></p>
                        <select [(ngModel)]="metodoRiego" name="metodoRiego" required class="menu-metodo">
                            <option value="" disabled selected hidden>Elige una opción</option>
                            <option value="lluvia">Lluvia</option>
                            <option value="aspersor">Aspersor</option>
                            <option value="goteo">Goteo</option>
                        </select>
                    </div>
            
                    <div class="cantidad">
                        <p><strong>Cantidad: </strong></p>
                        <input id="cantidad" [(ngModel)]="cantidad" type="number" name="cantidad" placeholder="Introduce la cantidad en litros/oliva" required />
                    </div>
            
                    <div class="fecha">
                        <p><strong>Fecha: </strong></p>
                        <input type="date" [(ngModel)]="fechaSeleccionada" name="fechaSeleccionada"
                                max="{{ fechaActual }}" class="input-fecha" required />
                    </div>
                </div>
            
                <button type="submit" [disabled]="!f.valid" class="btn-enviar">Enviar</button>
            </form>
            
            <div class="historial-modal" *ngIf="historialVisible.length > 0">
                <h3>Historial de Riego</h3>
            
                <div class="menu-anios">
                    <label for="seleccionar-anio">Seleccionar Año:</label>
                    <select id="seleccionar-anio" [(ngModel)]="anioSeleccionado" (change)="cargarHistorialAnio()">
                        <option value="" disabled selected>Elige un año</option>
                        <option *ngFor="let anio of historialAnios" [value]="anio">{{ anio }}</option>
                    </select>
                </div>
            
                <div *ngIf="anioSeleccionado && historialPorAnio[anioSeleccionado]" class="historial-container">
                    <div class="content">
                        <div class="tabla">
                            <h4>Historial del Año {{ anioSeleccionado }}</h4>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Método</th>
                                        <th>Cantidad (L/oliva)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let riego of historialPorAnio[anioSeleccionado]">
                                        <td>{{ formatearFecha(riego.fecha) }}</td>
                                        <td>{{ riego.metodo }}</td>
                                        <td>{{ riego.cantidad }} L</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                
                        <!-- Resumen del año seleccionado -->
                        <div *ngIf="resumenHistorialExpandido[anioSeleccionado]" class="resumen">
                            <h4>Resumen del Año {{ anioSeleccionado }}</h4>
                            <ul>
                                <li><strong>Días con lluvia:</strong> {{ resumenHistorialExpandido[anioSeleccionado].diasLluvia }}</li>
                                <li><strong>Días con riego:</strong> {{ resumenHistorialExpandido[anioSeleccionado].diasRiego }}</li>
                                <li><strong>Litros de lluvia:</strong> {{ resumenHistorialExpandido[anioSeleccionado].litrosLluvia }} L/oliva</li>
                                <li><strong>Litros de riego:</strong> {{ resumenHistorialExpandido[anioSeleccionado].litrosRiego }} L/oliva</li>
                                <li><strong>Litros totales:</strong> {{ resumenHistorialExpandido[anioSeleccionado].litrosTotales }} L/oliva</li>
                            </ul>
                        </div>
                    </div>
                    <button *ngIf="anioSeleccionado" class="btn-hst" (click)="ocultarHistorial()">Ocultar Historial</button>
                </div>
            </div>            
        </div>
    </div>

</body>
