.contenido-pagina {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin-top: 16vh; 
    min-height: calc(100vh - 36vh); 
}

.barra-lateral {
    width: 15rem;
    flex-shrink: 0;
    position: relative;
    top: 0;
    height: auto;
    background-color: #A4B465; /* mismo color que los botones */
}

.contenido-central {
    flex: 1;
    background-image: url('/image.png');
    background-size: cover; 
    background-position:center;
    overflow-y: auto;
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menu-items-superiores {
    display: flex;
    flex-direction: column;
}

.item-menus {
    background-color: transparent; /* transparente para que se vea el fondo de la barra */
    color: #ffffff;
    font-size: 1.6rem;
    padding: 0.2rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}
.item-menu {
    background-color: transparent; /* transparente para que se vea el fondo de la barra */
    color: #ffffff;
    font-size: 1.6rem;
    padding: 1.2rem;
    border: none;
    border-bottom: 1px solid #ffffff50; /* línea divisoria blanca semitransparente */
    cursor: pointer;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

.item-menu:hover {
    color: #000;
    font-size: 1.7rem; /* texto ligeramente más grande */
    transform: scale(1.05);
}

.cerrar-sesion {
    position: sticky;
    bottom: 1rem;
    z-index: 1;
    background-color: #A4B465;
    color: white;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease;
}

.cerrar-sesion:hover {
    color: #000;
}

.desplegable {
    position: relative;
    width: 100%;
  }
  
  .flecha {
    float: right;
    transition: transform 0.3s ease;
  }
  
  .flecha.abierta {
    transform: rotate(180deg);
  }
  
  .submenu-fincas {
    background-color: #A4B465;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }
  
  .item-submenu {
    background: none;
    color: #fff;
    border: none;
    text-align: left;
    padding: 0.8rem 1.2rem;
    font-size: 1.4rem;
    border-bottom: 1px solid #ffffff50; /* línea divisoria blanca semitransparente */
    cursor: pointer;
  }
  
  .item-submenu:hover {
    color: #000;
    font-size: 1.7rem; /* texto ligeramente más grande */
    transform: scale(1.05);
}





