<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <div class="barra-superior">    
        <div class="logo-app"></div>
        
        <div class="foto-app"></div>
        
        <!-- Mostrar nombre y botón de cerrar sesión si el usuario ha iniciado sesión -->
        <div class="usuario-info" *ngIf="usuarioAutenticado; else loginSection">
            <div class="usuario-avatar">
                <span class="inicial" *ngIf="usuarioAutenticado">{{ getInicial() }}</span>
            </div>
        </div>
    
        <!-- Botón de login si no hay usuario autenticado -->
        <ng-template #loginSection>
            <button class="login" (click)="iniciarSesion()"></button>
        </ng-template>
    </div>

    <div class="contenido-pagina">
        <!-- SOLO si hay usuario -->
        <div class="barra-lateral" *ngIf="usuarioAutenticado">
            <div class="menu-lateral">
                <div class="menu-items-superiores">
                    <div class="item-menu desplegable" (mouseenter)="toggleFincas(true)" 
                    (mouseleave)="toggleFincas(false)">
                        <button class="item-menus" (click)="mostrarContenido('fincas')" >
                            Fincas
                        <span class="flecha" [class.abierta]="fincasAbierto">▼</span>
                        </button>
                        <div class="submenu-fincas" *ngIf="fincasAbierto">
                        <button
                            class="item-submenu" *ngFor="let finca of info; let i = index"
                            (click)="seleccionarFinca(finca)"
                        >
                            {{ finca.nombre }}
                        </button>
                        </div>
                    </div>
                                        <button class="item-menu" (click)="mostrarContenido('perfil')">Perfil</button>
                    <button class="item-menu" (click)="mostrarContenido('noticias')">Noticias</button>
                    <button class="item-menu" (click)="mostrarContenido('noticias')">Balance</button>
                </div>
                <button class="item-menu cerrar-sesion" (click)="cerrarSesion()">Cerrar sesión</button>
            </div>
        </div>
        

        <div class="contenido-central">
            <ng-container *ngIf="usuarioAutenticado; else soloNoticias">
                <ng-container [ngSwitch]="seccionActual">
                <div *ngSwitchCase="'fincas'">
                    <app-fincas *ngIf="seccionActual === 'fincas'" [finca]="fincaSeleccionada"></app-fincas>
                </div>    
                <div *ngSwitchCase="'perfil'">
                    <app-perfil/>
                </div>
                <div *ngSwitchDefault>
                    <app-noticias/>
                </div>
                </ng-container>
            </ng-container>
        
            <ng-template #soloNoticias>
                <app-noticias/> 
            </ng-template>
        </div>
    </div>


    <div class="pie">
        <div class="texto-pie">
            <div class="nombre-cooperativa">S.C.A. SANTO TOMÁS APOSTOL</div>
            <div class="direccion-cooperativa">
                Ctra. de Úbeda s/n<br> 
                23311 Santo Tomé (Jaén)
            </div>
            <div class="horario-cooperativa">
                Horario de atención al público:<br> 
                De lunes a viernes de 9 a 14h y de 16 a 19h<br> 
                Verano (21 Jun. – 21 Sep.) de 8 a 15h
            </div>
        </div>
        <div class="foto-pie"></div>
        <div class="info-pie">
            <div class="info-politica">INFORMACIÓN</div>
            <div class="cookies">Políticas de cookies (UE)</div>
            <div class="terminos">Términos y condiciones</div>
        </div>
    </div>
</body>
